header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: color-mix(in srgb, var(--pico-background-color) 70%, transparent);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    border-bottom: 1px solid var(--pico-muted-border-color);
}

button {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}

.main-grid {
    grid-template-columns: minmax(600px, 3fr) 7fr;
}

.main-grid .left-pane {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* min-width: 800px; */
}

.dropzone {
    background-color: var(--pico-card-background-color);
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

.dropzone .dz-details {
    background-color: var(--pico-code-background-color);
}

div.eisplot {
    height: 600px;
    background-color: var(--pico-card-background-color);
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    margin-bottom: 10px;
}

dl.metadata {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem 1rem;
}

dl.metadata dt {
    font-weight: 600;
}

dl.metadata dd {
    margin: 0;
    color: var(--pico-primary)
}