header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: color-mix(in srgb, var(--pico-background-color) 70%, transparent);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    border-bottom: 1px solid var(--pico-muted-border-color);
}

button {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}

.main-grid {
    grid-template-columns: minmax(600px, 3fr) 7fr;
}

.main-grid .left-pane {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* min-width: 800px; */
}

.dropzone {
    background-color: var(--pico-card-background-color);
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

.dropzone .dz-details {
    background-color: var(--pico-code-background-color);
}

div.eisplot {
    height: 1rem;
    background-color: var(--pico-card-background-color);
}

/* .file-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.file-list > li {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0.5rem;
    margin: 0.75rem 0rem;
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    background-color: var(--pico-card-background-color);
}

.file-list button {
    padding: 0.2rem;
    line-height: 0;
} */